*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: linear-gradient(10deg, black, #333);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 120px;

}

label{
    display: block;
    color: rgb(220, 133, 11);
    font-weight: bold;


}

.menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 5px solid rgb(220, 133, 11);
  border-radius: 25px;
  padding: 20px;
  height: 250px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0px 0px 30px rgba(199, 172, 151, 0.792);
 
}

input{
   padding: 5px;
   border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
    background-color: rgba(220, 133, 11);
}

input:hover{
    transform: scale(1.07);
    box-shadow: 0px 0px 10px #d28526;
}

input:active{
    transform: scale(0.95);
}

.branco{
    font-size: 4rem;
    margin-bottom: 20px;
    color: white; 
    text-shadow: -8px 2px 5px #d28526; 
    font-size: clamp( 20px, 8vw, 50px);
    text-align: center;
}

.laranja{
    font-size: 4rem;
    margin-bottom: 20px;
    background-color: rgb(220, 133, 11);
    color: black;
    text-shadow: -1px 3px 7px #000000;
    font-size: clamp( 20px, 8vw, 50px);
    text-align: center;
}

h1{
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
}

p{
   font-size: 16px;
   font-weight: bold;
   margin-left: -9px;

    background: linear-gradient(270deg, white, rgb(220, 133, 11), white, rgb(220, 133, 11));
    background-size: 400% 400%;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
   color: transparent;

    animation: gradientes 8s ease infinite;
}

@keyframes gradientes{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.btn{
    padding: 10px 100px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(220, 133, 11);
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(220, 133, 11, 0.8);
}
.btn:active{
    transform: scale(0.95);
}

.titulo{
    background: linear-gradient(10deg, black, #333);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-radius: 0 0 20px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}










