*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(10deg, black, #333);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

i#burguer{
    background: linear-gradient(10deg, black, #333);
    color: rgb(220, 133, 11);
    position: fixed;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px;
    top: 10px;
    left: 10px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: linear-gradient(10deg, #333, black);
    width: 240px;
    height: 500px;
    padding: 20px;
    border: 1px solid rgb(220, 133, 11);
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: bold;
    margin-left: -17px;
    border: 1px solid rgb(220, 133, 11);
    padding: 10px;
    border-radius: 10px;
}

li a{
    display: block;
    width: 100%; /* ocupa tudo */
    text-align: left; /* ou center */
}

#menu{
    position: fixed;
    top: 10px;
    left: 0;
    width: 90%;
    max-width: 400px;
    height: 100vh;
    transform: translate(-100%);
    transition: ease 1s;
    z-index: 999;
}

#menu.ativo {
    transform: translate(0);
}

#burguer.ativo{
    position: fixed;
    top: 10px;
    left: 250px;
    transition: all ease 1s;
    z-index: 1000;
}

#pesquisar {
    position: fixed;
    top: 16px;
    width: 400px;
    padding: 8px 12px;
    border-radius: 10px;
    box-sizing: border-box;
    background: black;
    color: rgba(220, 133, 11);
    border: none;
    z-index: 500;
    box-shadow: 0px 0px 10px rgb(153, 113, 57);
}

@media (max-width: 768px) {
    #pesquisar {
       width: 60%;
    }
}

::placeholder{
    color: rgba(220, 133, 11)
}







